body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
}

#container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 100px;
    color: #333;
}

#horloge {
    font-size: 4rem;
    font-weight: bold;
}
